<div class="row"> <div class="col-md-offset-4"> <h1> Sign up form </h1> </div> </div>

<div class="row">
  <div class="col-md-offset-4 col-md-1">
    <form action="<%=users_url%>" method="post">
      <%= auth_token %>
      <label for="user_name"> Username </label>
      <input type="text" name="user[username]" id="user_name" value=""
      <br/>
      <label for="pass"> Password </label>
      <input type="password" name="user[password]" id="pass">
      <br/>
      <input type="submit" value="Sign Up">
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-4 col-md-1">
    <h2> Already registered? <a href="<%= new_session_url %>"> Log in </a> <h2>
  </div>
</div>
