<div class="row">
  <div class="col-md-offset-5 col-md-4"> <h1> Sign up form </h1> </div> </div>
  <div class="col-md-offset-5 col-md-1">
    <form action="<%=users_url%>" method="post">
      <%= auth_token %>
      <div class="row-form-group">
        <div class="col-md-offset-2 col-md-6">
          <label for="user_name"> Username </label>
          <input type="text" name="user[username]" id="user_name" value="">
        </div>
      </div>
      <div class="row-form-group">
        <div class="col-md-offset-2 col-md-6">
          <label for="pass"> Password </label>
          <input type="password" name="user[password]" id="pass">
        </div>
      </div>
      <div class="row-form-group">
        <div class="col-md-offset-4 col-md-6">
            <input type="submit" value="Sign Up">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-offset-5 col-md-3">
    <h4> Already registered? <a href="<%= new_session_url %>"> Log in </a>
        or use the <a href="#">Demo account</a> </h4>
  </div>
</div>

<div class="fullscreen-bg">
    <video loop muted autoplay id="vid" class="fullscreen-bg__video">
        <source src="http://ak9.picdn.net/shutterstock/videos/1093015/preview/stock-footage-flying-on-clouds-at-sunset-high-detailed-d-render-loop.mp4" type="video/mp4">
    </video>
</div>
