/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #f4f4f4;
}

.override-navbar {
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 0px;
}

#logo {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

.navbar-nav > li > a {
  color: #B6B6B4
}

.navbar-right > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.navbar-default .navbar-nav > li:hover {
  background-color: red;
  a {
    color: white;
    strong {
      color: white;
    }
  }
  .dropdown-menu > li > a {
    color: red;
  }
}

.navbar-nav li strong {
    font-size: 30px;
    color: red;
    display: block;
    padding-bottom: 5px;
}

.navbar-default .navbar-right > li {
  top: 20px;
  right: 50px;
  padding-top: 0;
  padding-bottom: 0;
  &:hover {
    background: white;
    span {
      color: red;
    }
  }
  a {
    border: 2px solid #B6B6B4;
    border-radius: 13px;
  }
  .dropdown-menu {
    a {
      border: none;
      &:hover {
        background: red;
        color: white;
      }
    }
  }
}

#dropdown {
  background: white;
 }

 .fullscreen-bg {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     overflow: hidden;
     z-index: -100;
 }

 .fullscreen-bg__video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: auto;
 }

 .jumbotron-main {
   background: #000 url("/assets/background.png") center center;
   width: 100%;
   height: 600px;
   background-size: cover;
   overflow: hidden;
   h2 {
     color: red;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
   }
   h1{
      font-size: 20px;
      color: #fff;
   }
 }

 .search-bar {
   position: relative;
   margin-bottom: 50px;
  > div {
     width: 50%;
     position: absolute;
     top: -63px;
     left: 25%;
     background: gray;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 10px;
   }

  .col-md-3, .col-md-6 {
     padding-left: 0px;
    .col-md-6 {
      padding-right: 0px;
    }
  }
  .col-md-4 {
    padding-right: 5px;
  }
  h6 {
    right: 0;
    color: white;
    float: right;
  }
}

.glyphicon-search {
  position: absolute;
  color: #ccc;
  left: 85%;
  top: 10px;
}

.with-margin {
  margin-top: 10px;
}

.destinations {
  width: 90%;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 50px;
  div {
    position: relative;
     padding-right: 0px;
    h2 {
      position: absolute;
      bottom: 0px;
      left: 20px;
      color: white;
      text-shadow: 1px 1px 1px gray,
                   3px 3px 5px green;
    }
  }
  .focus {
    width: 100%;
    transition: all 2s ease;
    &:hover {
      border: 5px solid green;
      border-radius: 70%;
    }
  }
 }
